.gameboard {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
  width: calc(60px*8);
  margin: 0 auto;
  margin-top: calc((100vh - 60px*8)/2);
}

.square {
  width: 60px;
  height: 60px;
}

.white {
  background-color: rgb(245, 244, 195);
}

.black {
  background-color: hsl(34, 69%, 30%);
}